################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SkiNet/FileContentIndex/9840c4d1-551a-4115-aced-6e2d4bf7bdd0.vsidx
